header.header
  .nav-bar
    .nav-bar__container

      .mobile-menu-trigger

      .logo.nav-bar__logo 
        picture
          source(media='(max-width: 575.98px)', srcset='img/xs/logo-xs.webp', type='image/webp')
          source(media='(max-width: 575.98px)', srcset='img/xs/logo-xs.png', type='image/png')
          source(srcset='img/logo.webp', type='image/webp')
          |
          |
          img(src='img/logo.png', alt='Логотип')

      nav.mobile-menu-wrap
        //- nav.mobile-menu-wrap.open
        ul.top-menu.mobile-menu
          li.top-menu__item
            a(href="#") Что у нас есть
          li.top-menu__item
            a(href="#") Для кого
          li.top-menu__item
            a(href="#") Преимущества
          li.top-menu__item
            a(href="#") Портфолио
          li.top-menu__item
            a(href="#") Команда
          li.top-menu__item
            a(href="#") Пакеты услуг
          li.top-menu__item
            a(href="#") Отзывы
          li.top-menu__item
            a(href="#") Контакты

      .nav-bar-contacts 
        .phone-link.text-link.text-link_primary
          a(href="tel:+79530062888") +7 800 200 06 60 
        button.btn.btn_primary.btn_rounded.callback-btn.nav-bar-contacts__callback-btn Оставить заявку

      button.callback-btn.callback-btn_mobile
        i.svg-tlg-trnsp-xs.svg-tlg-trnsp-xs-dims

        
