@use '_partials/variables' as v
@use '_partials/mixins' as m

@import "comments.sass"
@import "fonts.sass"
@import "default.sass"

@import "grid.sass"

//  V. Sprite
//  --------------------------------------- 

//  1. Sprite:svg 
//  -------------------------
// Для добавления svg-спрайтов: необходимо только задать нужный класс а html.
// например     i.svg-icons.svg-icons-dims
// @import "../../../tmp/sass/sprite-svg.scss"

//  2. Sprite:png  
//  -------------------------
// sass-свойства спрайтов не добавлены по умочанию, свойство каждого спрайта нужно добавлять отдельно.
// Для добавления png-спрайтов:
//      - добавить в html разметку
//                                  div.sprite-class либо 
//                                  i.sprite-class
//      - добавить в sass-файл свойство 
//                                   .icon-home 
//                                          @include sprite($icon-email)
//                                  
// 

// @import "../../../tmp/sass/sprite-png.sass"

// Sprite:png styles
// .icon-email 
//   @include sprite($icon-email)
// 

// .house-blue
//   +sprite($house-blue)

// .sad-icon
//   +sprite($sad-icon)

// .chrome
//   +sprite($chrome)

// .yandex
//   +sprite($yandex)

// .firefox
//   +sprite($firefox)

// .opera
//   +sprite($opera)

// .edge
//   +sprite($edge)

// Здесь будут основные стили проекта

/* VI. Layout
 --------------------------------------- */


.preloader
  width: 100%
  height: 100%
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9999
  background: #fff

  &.fade-out
    opacity: 0






.bg
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: red


.bg
  &-img
    position: absolute


/* Header 
 -------------------------*/
// .header

/* Modal 
 -------------------------*/
.modal
  &-trigger
    font-family: v.$ff-secondary
    cursor: pointer

.modal 
  padding: 2rem
  display: flex
  align-items: center
  width: 100vw
  height: 100vh
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 999
  overflow: auto
  opacity: 0
  visibility: hidden
  &__content
    margin-top: 0rem
    margin-left: auto
    margin-right: auto
    display: flex
    // flex-direction: column
    width: 100%
    max-width: 114rem
    // height: 65.5rem
    height: auto
    max-height: calc( 100vh - 20rem )
    position: relative
    z-index: 1001
    border-radius: 1.2rem
    font-size: 2.4rem
    line-height: 1.15
    color: v.$modal-content-color
    opacity: 0
    h3
      font-size: 2.8rem
      font-weight: 400
      margin-top: 1em
      margin-bottom: .5em
    ol,ul
      margin-top: .5em
      padding-left: 0.75em
      li
        margin-bottom: 0.5em
    p
      margin-bottom: 1em
    
    &-inner
      display: flex
      flex-direction: column
      padding: 3rem 0rem 3.5rem 0rem
      width: 100%
      // height: 100%
      border-radius: 1.2rem
      background-color: v.$modal-content-bg
      overflow: auto

  &__header
    // margin-bottom: 2rem
    padding-right: 2.5rem
    padding-right: 3rem
    padding-left: 3rem
    position: relative
    border-bottom: solid 1px v.$input-placeholder-color
    .modal__title 
      margin-bottom: 1.2rem
      text-transform: uppercase
      font:
        // family: v.$ff-headings
        size: 3.6rem
        weight: 400
      text-align: center
    p
      font:
        size: 2rem
        weight: 400


  &__body
    // margin-bottom: 5rem
    padding-top: 1.2rem
    padding-right: 3rem
    padding-left: 3rem
    flex-grow: 1
    text-align: justify
    overflow: auto

  &__footer
    padding-top: 0rem

  &__close
    padding: 0
    width: 2.5rem
    height: 2.5rem
    position: absolute
    // top: -6%
    top: -2.5rem
    right: -8%
    z-index: 999
    border: none
    background: none

  &-close
    &__item
      display: block
      width: 2.3rem
      height: 2px
      position: absolute
      left: 0
      top: 50%
      border-radius: 2px
      background-color: v.$modal-close-item-bg
      transition: background-color .3s
      &:first-child
        transform: rotate(45deg)

      &:last-child
        transform: rotate(-45deg)


    &:hover
      .modal
        &-close
          &__item
            background-color: v.$modal-close-item-bg-hover

  &__overlay
    display: block
    width: 100%
    height: 100%
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1000
    background-color: v.$modal-overlay-bg
    opacity: 0
    visibility: hidden


  &.opened
    animation: fadeIn .5s ease-out forwards
    .modal
      &__content
        animation: slideUpIn .3s ease-out forwards

      &__overlay
        animation: fadeIn 0.5s ease forwards



  &.closed
    animation: fadeOut .5s ease-in forwards
    .modal
      &__content
        animation: slideUpOut .3s ease-in forwards

      &__overlay
        animation: fadeOut .5s ease-in forwards


.modal-callback
  .modal
    &__header
      padding-left: 3rem
      padding-right: 3rem
    &__content
      max-width: 36rem
      &-inner
        padding-bottom: 0
        background: v.$primary-color
    &__title
      font-size: 1.8rem
      color: v.$text-secondary-color
    &__body
      padding-top: 0
      padding-left: 0
      padding-right: 0

  .event-card__body 
    padding: 5rem 2rem 4.5rem




/* Forms processing 
 -------------------------*/
.thanks 
  padding: 1em
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: cente
  width: calc(100% - 3rem)
  max-width: 17em
  position: fixed
  right: 1.5rem
  bottom: 1.5rem
  text-align: center
  border-radius: 15px
  -webkit-box-shadow: 0 15px 55px 0px rgba(0, 0, 0, 0.35)
  box-shadow: 0 15px 55px 0px rgba(0, 0, 0, 0.35)
  opacity: 1
  z-index: 99999


.thanks_success 
  color: #146c43
  border: solid 1px #a3cfbb
  background: rgb(209, 232, 222)

.thanks_error 
  color: #b02a37
  border: solid 1px #f1aeb5
  background: #f8d7da


.thanks__close 
  position: absolute
  top: 1rem
  right: 1rem
  width: 2.4rem
  height: 2.4rem
  -webkit-transition: -webkit-transform 0.2s
  transition: -webkit-transform 0.2s
  -o-transition: transform 0.2s
  transition: transform 0.2s
  transition: transform 0.2s, -webkit-transform 0.2s

.thanks__close::before,
.thanks__close::after 
  display: block
  position: absolute
  top: 50%
  content: ""
  width: 100%
  height: 0.3rem
  border-radius: 10px
  background: rgb(75, 75, 75)
  -webkit-transition: background-color 0.2s
  -o-transition: background-color 0.2s
  transition: background-color 0.2s

.thanks__close::before 
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

.thanks__close::after 
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)


.thanks__close:hover 
  -webkit-transform: scale(1.05)
  -ms-transform: scale(1.05)
  transform: scale(1.05)

.thanks__close:hover.thanks__close::before,
.thanks__close:hover.thanks__close::after 
  background: rgb(25, 25, 25)


.thanks__close:active 
  -webkit-transform: scale(1)
  -ms-transform: scale(1)
  transform: scale(1)
  -webkit-transition: -webkit-transform 0s
  transition: -webkit-transform 0s
  -o-transition: transform 0s
  transition: transform 0s
  transition: transform 0s, -webkit-transform 0s


.thanks.active 
  -webkit-animation: slideInRightBottom 0.5s ease forwards
  animation: slideInRightBottom 0.5s ease forwards

.thanks h3 
  font-size: 2rem
  font-weight: 500
  font-family: sans-serif


.thanks span 
  display: block
  margin-bottom: 2rem

.thanks h3 span 
  font-weight: 700
  font-size: 2.4rem

.loader-container 
  position: relative
  z-index: 50


.submit-loader 
  display: block
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 55
  background: rgba(255, 255, 255, 0.5) url("../img/loader.gif") center no-repeat
  // background-size: 100px 100px
  background-size: contain
  border-radius: 10px


@-webkit-keyframes slideInRightBottom 
  from 
    opacity: 0.5
    -webkit-transform: translateX(150%)
    transform: translateX(150%)
  
  to 
    opacity: 1
    -webkit-transform: translateX(0)
    transform: translateX(0)
  


@keyframes slideInRightBottom 
  from 
    opacity: 0.5
    -webkit-transform: translateX(150%)
    transform: translateX(150%)
  
  to 
    opacity: 1
    -webkit-transform: translateX(0)
    transform: translateX(0)
  

@-webkit-keyframes slideOutRightBottom 
  from 
    opacity: 1
    -webkit-transform: translateX(0)
    transform: translateX(0)
  
  to 
    opacity: 0.5
    -webkit-transform: translateX(150%)
    transform: translateX(150%)
  

@keyframes slideOutRightBottom 
  from 
    opacity: 1
    -webkit-transform: translateX(0)
    transform: translateX(0)
  
  to 
    opacity: 0.5
    -webkit-transform: translateX(150%)
    transform: translateX(150%)










// Lazy 
// -------------------------
// .lazy 
//    width: 100%
//    height: 100%
//    position: relative
//       background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), -o-linear-gradient(#DDD 100%, transparent 0)
//       background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DDD), color-stop(0, transparent))
//       background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), linear-gradient(#DDD 100%, transparent 0)
//       background-repeat: no-repeat
//       background-size: 26% 100%, cover
//       background-position: 0 0, 0 0, 0px 85px, 0px 110px
//       animation: animloader 1s linear infinite
//    img
//       visibility: hidden
//    
// 

// @-webkit-keyframes animloader 
//    0%  background-position:  0 0, 0 0, 0px 85px, 0px 110px
//    100%  background-position:  150% 0, 0 0, 0px 85px, 0px 110px
// 

// @keyframes animloader 
//    0%  background-position:  0 0, 0 0, 0px 85px, 0px 110px
//    100%  background-position:  150% 0, 0 0, 0px 85px, 0px 110px
// 

// ANIMATIONS
// ------------------------------  
// !!! Добавляется любой пустой селектор перед @import, так как после использования @include в свойствах выше директива @import смещается на один tab и некорректно отрабатывает импорт
// ! То есть, после @include следует запускать @import только после объявления нормаьного свойства
.fake-class-to-add-import-rule
  visibility: inherit

@import "animations"
@import "media-queries"
@import "gte-ie10-style"
