@charset "UTF-8";
/*  I. Font settings
 * --------------------------------------- */ 
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* II. Styles reset
 * --------------------------------------- */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
}

[hidden] {
  display: none;
}

button,
input {
  border: none;
  outline: none;
  border-radius: 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

i {
  display: inline-block;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  quotes: blockquote, q rgba(136, 34, 34, 0) blockquote, q rgba(136, 34, 34, 0);
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  III. Default styles
 * --------------------------------------- */
html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6,
p {
  cursor: default;
}

.container, .container_xxl, .container_xl, .container_lg, .container_md, .container_sm {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1320px;
}

.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-none {
  display: none;
}

.row {
  margin: 0 -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.scroll-hidden {
  padding-right: 17px;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}

address {
  font-style: normal;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
}

a, a:visited {
  text-decoration: none;
  outline: none;
  color: #f00;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input[type=submit],
input[type=reset],
input[type=button],
.btn {
  font-family: "Raleway", "Helvetica", sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  padding: 5rem 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2.5rem;
  background: none;
  overflow: hidden;
}

input:not(input[type=checkbox]),
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input::-ms-input-placeholder {
  color: #f00;
}

input::-webkit-input-placeholder {
  color: #f00;
}

input::-moz-placeholder {
  color: #f00;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select::-ms-expand {
  display: none;
}

/*  III. Grid
 * ---------------------------------------   */
.row > * {
  width: 100%;
}

/* Column flexibility setting */
.col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

/* Column width setting */
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

/* Column offset setting */
.offset-none {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 1399.98px) {
  /* XL column flexibility setting */
  .col_xl {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_xl, .col-2_xl, .col-3_xl, .col-4_xl, .col-5_xl, .col-6_xl, .col-7_xl, .col-8_xl, .col-9_xl, .col-10_xl, .col-11_xl, .col-12_xl {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* XL column width setting */
  .col-1_xl {
    width: 8.3333333333%;
  }
  .col-2_xl {
    width: 16.6666666667%;
  }
  .col-3_xl {
    width: 25%;
  }
  .col-4_xl {
    width: 33.3333333333%;
  }
  .col-5_xl {
    width: 41.6666666667%;
  }
  .col-6_xl {
    width: 50%;
  }
  .col-7_xl {
    width: 58.3333333333%;
  }
  .col-8_xl {
    width: 66.6666666667%;
  }
  .col-9_xl {
    width: 75%;
  }
  .col-10_xl {
    width: 83.3333333333%;
  }
  .col-11_xl {
    width: 91.6666666667%;
  }
  .col-12_xl {
    width: 100%;
  }
  /* XL column offset setting */
  .offset-none_xl {
    margin-left: 0;
  }
  .offset-1_xl {
    margin-left: 8.3333333333%;
  }
  .offset-2_xl {
    margin-left: 16.6666666667%;
  }
  .offset-3_xl {
    margin-left: 25%;
  }
  .offset-4_xl {
    margin-left: 33.3333333333%;
  }
  .offset-5_xl {
    margin-left: 41.6666666667%;
  }
  .offset-6_xl {
    margin-left: 50%;
  }
  .offset-7_xl {
    margin-left: 58.3333333333%;
  }
  .offset-8_xl {
    margin-left: 66.6666666667%;
  }
  .offset-9_xl {
    margin-left: 75%;
  }
  .offset-10_xl {
    margin-left: 83.3333333333%;
  }
  .offset-11_xl {
    margin-left: 91.6666666667%;
  }
  .offset-12_xl {
    margin-left: 100%;
  }
}
@media (max-width: 1199.98px) {
  /* LG column flexibility setting */
  .col_lg {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_lg, .col-2_lg, .col-3_lg, .col-4_lg, .col-5_lg, .col-6_lg, .col-7_lg, .col-8_lg, .col-9_lg, .col-10_lg, .col-11_lg, .col-12_lg {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* LG column width setting */
  .col-1_lg {
    width: 8.3333333333%;
  }
  .col-2_lg {
    width: 16.6666666667%;
  }
  .col-3_lg {
    width: 25%;
  }
  .col-4_lg {
    width: 33.3333333333%;
  }
  .col-5_lg {
    width: 41.6666666667%;
  }
  .col-6_lg {
    width: 50%;
  }
  .col-7_lg {
    width: 58.3333333333%;
  }
  .col-8_lg {
    width: 66.6666666667%;
  }
  .col-9_lg {
    width: 75%;
  }
  .col-10_lg {
    width: 83.3333333333%;
  }
  .col-11_lg {
    width: 91.6666666667%;
  }
  .col-12_lg {
    width: 100%;
  }
  /* XL column offset setting */
  .offset-none_lg {
    margin-left: 0;
  }
  .offset-1_lg {
    margin-left: 8.3333333333%;
  }
  .offset-2_lg {
    margin-left: 16.6666666667%;
  }
  .offset-3_lg {
    margin-left: 25%;
  }
  .offset-4_lg {
    margin-left: 33.3333333333%;
  }
  .offset-5_lg {
    margin-left: 41.6666666667%;
  }
  .offset-6_lg {
    margin-left: 50%;
  }
  .offset-7_lg {
    margin-left: 58.3333333333%;
  }
  .offset-8_lg {
    margin-left: 66.6666666667%;
  }
  .offset-9_lg {
    margin-left: 75%;
  }
  .offset-10_lg {
    margin-left: 83.3333333333%;
  }
  .offset-11_lg {
    margin-left: 91.6666666667%;
  }
  .offset-12_lg {
    margin-left: 100%;
  }
}
@media (max-width: 991.98px) {
  /* MD column flexibility setting */
  .col_md {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_md, .col-2_md, .col-3_md, .col-4_md, .col-5_md, .col-6_md, .col-7_md, .col-8_md, .col-9_md, .col-10_md, .col-11_md, .col-12_md {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* MD column width setting */
  .col-1_md {
    width: 8.3333333333%;
  }
  .col-2_md {
    width: 16.6666666667%;
  }
  .col-3_md {
    width: 25%;
  }
  .col-4_md {
    width: 33.3333333333%;
  }
  .col-5_md {
    width: 41.6666666667%;
  }
  .col-6_md {
    width: 50%;
  }
  .col-7_md {
    width: 58.3333333333%;
  }
  .col-8_md {
    width: 66.6666666667%;
  }
  .col-9_md {
    width: 75%;
  }
  .col-10_md {
    width: 83.3333333333%;
  }
  .col-11_md {
    width: 91.6666666667%;
  }
  .col-12_md {
    width: 100%;
  }
  /* MD column offset setting */
  .offset-none_md {
    margin-left: 0;
  }
  .offset-1_md {
    margin-left: 8.3333333333%;
  }
  .offset-2_md {
    margin-left: 16.6666666667%;
  }
  .offset-3_md {
    margin-left: 25%;
  }
  .offset-4_md {
    margin-left: 33.3333333333%;
  }
  .offset-5_md {
    margin-left: 41.6666666667%;
  }
  .offset-6_md {
    margin-left: 50%;
  }
  .offset-7_md {
    margin-left: 58.3333333333%;
  }
  .offset-8_md {
    margin-left: 66.6666666667%;
  }
  .offset-9_md {
    margin-left: 75%;
  }
  .offset-10_md {
    margin-left: 83.3333333333%;
  }
  .offset-11_md {
    margin-left: 91.6666666667%;
  }
  .offset-12_md {
    margin-left: 100%;
  }
}
@media (max-width: 767.98px) {
  /* SM column flexibility setting */
  .col_sm {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_sm, .col-2_sm, .col-3_sm, .col-4_sm, .col-5_sm, .col-6_sm, .col-7_sm, .col-8_sm, .col-9_sm, .col-10_sm, .col-11_sm, .col-12_sm {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* SM column width setting */
  .col-1_sm {
    width: 8.3333333333%;
  }
  .col-2_sm {
    width: 16.6666666667%;
  }
  .col-3_sm {
    width: 25%;
  }
  .col-4_sm {
    width: 33.3333333333%;
  }
  .col-5_sm {
    width: 41.6666666667%;
  }
  .col-6_sm {
    width: 50%;
  }
  .col-7_sm {
    width: 58.3333333333%;
  }
  .col-8_sm {
    width: 66.6666666667%;
  }
  .col-9_sm {
    width: 75%;
  }
  .col-10_sm {
    width: 83.3333333333%;
  }
  .col-11_sm {
    width: 91.6666666667%;
  }
  .col-12_sm {
    width: 100%;
  }
  /* SM column offset setting */
  .offset-none_sm {
    margin-left: 0;
  }
  .offset-1_sm {
    margin-left: 8.3333333333%;
  }
  .offset-2_sm {
    margin-left: 16.6666666667%;
  }
  .offset-3_sm {
    margin-left: 25%;
  }
  .offset-4_sm {
    margin-left: 33.3333333333%;
  }
  .offset-5_sm {
    margin-left: 41.6666666667%;
  }
  .offset-6_sm {
    margin-left: 50%;
  }
  .offset-7_sm {
    margin-left: 58.3333333333%;
  }
  .offset-8_sm {
    margin-left: 66.6666666667%;
  }
  .offset-9_sm {
    margin-left: 75%;
  }
  .offset-10_sm {
    margin-left: 83.3333333333%;
  }
  .offset-11_sm {
    margin-left: 91.6666666667%;
  }
  .offset-12_sm {
    margin-left: 100%;
  }
}
@media (max-width: 575.98px) {
  /* XS column flexibility setting */
  .col_xs {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_xs, .col-2_xs, .col-3_xs, .col-4_xs, .col-5_xs, .col-6_xs, .col-7_xs, .col-8_xs, .col-9_xs, .col-10_xs, .col-11_xs, .col-12_xs {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* XS column width setting */
  .col-1_xs {
    width: 8.3333333333%;
  }
  .col-2_xs {
    width: 16.6666666667%;
  }
  .col-3_xs {
    width: 25%;
  }
  .col-4_xs {
    width: 33.3333333333%;
  }
  .col-5_xs {
    width: 41.6666666667%;
  }
  .col-6_xs {
    width: 50%;
  }
  .col-7_xs {
    width: 58.3333333333%;
  }
  .col-8_xs {
    width: 66.6666666667%;
  }
  .col-9_xs {
    width: 75%;
  }
  .col-10_xs {
    width: 83.3333333333%;
  }
  .col-11_xs {
    width: 91.6666666667%;
  }
  .col-12_xs {
    width: 100%;
  }
  /* XS column offset setting */
  .offset-none_xs {
    margin-left: 0;
  }
  .offset-1_xs {
    margin-left: 8.3333333333%;
  }
  .offset-2_xs {
    margin-left: 16.6666666667%;
  }
  .offset-3_xs {
    margin-left: 25%;
  }
  .offset-4_xs {
    margin-left: 33.3333333333%;
  }
  .offset-5_xs {
    margin-left: 41.6666666667%;
  }
  .offset-6_xs {
    margin-left: 50%;
  }
  .offset-7_xs {
    margin-left: 58.3333333333%;
  }
  .offset-8_xs {
    margin-left: 66.6666666667%;
  }
  .offset-9_xs {
    margin-left: 75%;
  }
  .offset-10_xs {
    margin-left: 83.3333333333%;
  }
  .offset-11_xs {
    margin-left: 91.6666666667%;
  }
  .offset-12_xs {
    margin-left: 100%;
  }
}
@media (max-width: 413.98px) {
  /* XXS column flexibility setting */
  .col_xxs {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-1_xxs, .col-2_xxs, .col-3_xxs, .col-4_xxs, .col-5_xxs, .col-6_xxs, .col-7_xxs, .col-8_xxs, .col-9_xxs, .col-10_xxs, .col-11_xxs, .col-12_xxs {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  /* XXS column width setting */
  .col-1_xxs {
    width: 8.3333333333%;
  }
  .col-2_xxs {
    width: 16.6666666667%;
  }
  .col-3_xxs {
    width: 25%;
  }
  .col-4_xxs {
    width: 33.3333333333%;
  }
  .col-5_xxs {
    width: 41.6666666667%;
  }
  .col-6_xxs {
    width: 50%;
  }
  .col-7_xxs {
    width: 58.3333333333%;
  }
  .col-8_xxs {
    width: 66.6666666667%;
  }
  .col-9_xxs {
    width: 75%;
  }
  .col-10_xxs {
    width: 83.3333333333%;
  }
  .col-11_xxs {
    width: 91.6666666667%;
  }
  .col-12_xxs {
    width: 100%;
  }
  /* XXS column offset setting */
  .offset-none_xxs {
    margin-left: 0;
  }
  .offset-1_xxs {
    margin-left: 8.3333333333%;
  }
  .offset-2_xxs {
    margin-left: 16.6666666667%;
  }
  .offset-3_xxs {
    margin-left: 25%;
  }
  .offset-4_xxs {
    margin-left: 33.3333333333%;
  }
  .offset-5_xxs {
    margin-left: 41.6666666667%;
  }
  .offset-6_xxs {
    margin-left: 50%;
  }
  .offset-7_xxs {
    margin-left: 58.3333333333%;
  }
  .offset-8_xxs {
    margin-left: 66.6666666667%;
  }
  .offset-9_xxs {
    margin-left: 75%;
  }
  .offset-10_xxs {
    margin-left: 83.3333333333%;
  }
  .offset-11_xxs {
    margin-left: 91.6666666667%;
  }
  .offset-12_xxs {
    margin-left: 100%;
  }
}
/* V. Sprite
 * --------------------------------------- */ 
/* 1. Sprite:svg 
 * -------------------------*/
.svg-user {
  background: url("sprite.svg") no-repeat;
}

.svg-user {
  background-position: 0 0;
}

.svg-user-dims {
  width: 16px;
  height: 17px;
}

/* 2. Sprite:png  
 * -------------------------*/
.house-blue {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}

.sad-icon {
  background-image: url(sprite.png);
  background-position: 0px -212px;
  width: 48px;
  height: 48px;
}

.chrome {
  background-image: url(sprite.png);
  background-position: 0px -20px;
  width: 48px;
  height: 48px;
}

.yandex {
  background-image: url(sprite.png);
  background-position: 0px -260px;
  width: 48px;
  height: 48px;
}

.firefox {
  background-image: url(sprite.png);
  background-position: 0px -116px;
  width: 47px;
  height: 48px;
}

.opera {
  background-image: url(sprite.png);
  background-position: 0px -164px;
  width: 47px;
  height: 48px;
}

.edge {
  background-image: url(sprite.png);
  background-position: 0px -68px;
  width: 48px;
  height: 48px;
}

/* VI. Layout
 * --------------------------------------- */
/* Header 
 * -------------------------*/
/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */
.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.bg img {
  display: block;
  width: 100%;
  height: 100%;
}
.bg_cover img {
  -o-object-fit: cover;
  object-fit: cover;
}
.bg_contain img {
  -o-object-fit: contain;
  object-fit: contain;
}

/* Section-Hero 
 * -------------------------*/
.hero {
  position: relative;
  padding-top: 17.5rem;
  padding-bottom: 31rem;
}

/* Lazy 
 * -------------------------*/
/* ANIMATIONS
 * ------------------------------  */
.fake-class-to-add-import-rule {
  visibility: inherit;
}

/* VI. Animations
 * --------------------------------------- */
@-webkit-keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes slideUpIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes slideUpIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUpOut {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
@keyframes slideUpOut {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
/* VII. Media-queries
 * --------------------------------------- */
/* XL */
@media (max-width: 1399.98px) {
  html {
    font-size: 9px;
  }
  .container, .container_xl, .container_lg, .container_md, .container_sm {
    max-width: 1140px;
  }
  .container_xxl {
    max-width: 100%;
  }
  .d-block_xl {
    display: block;
  }
  .d-inline_xl {
    display: inline;
  }
  .d-none_xl {
    display: none;
  }
}
/* LG */
@media (max-width: 1199.98px) {
  html {
    font-size: 8px;
  }
  .container, .container_lg, .container_md, .container_sm {
    max-width: 960px;
  }
  .container_xl {
    max-width: 100%;
  }
  .d-block_lg {
    display: block;
  }
  .d-inline_lg {
    display: inline;
  }
  .d-none_lg {
    display: none;
  }
}
/* MD */
@media (max-width: 991.98px) {
  .container, .container_md, .container_sm {
    max-width: 720px;
  }
  .container_lg {
    max-width: 100%;
  }
  .d-block_md {
    display: block;
  }
  .d-inline_md {
    display: inline;
  }
  .d-none_md {
    display: none;
  }
}
/* SM */
@media (max-width: 767.98px) {
  .container, .container_sm {
    max-width: 540px;
  }
  .container_md {
    max-width: 100%;
  }
  .d-block_sm {
    display: block;
  }
  .d-inline_sm {
    display: inline;
  }
  .d-none_sm {
    display: none;
  }
}
/* XS */
@media (max-width: 575.98px) {
  .container {
    max-width: 410px;
  }
  .container_sm {
    max-width: 100%;
  }
  .d-block_xs {
    display: block;
  }
  .d-inline_xs {
    display: inline;
  }
  .d-none_xs {
    display: none;
  }
}
/* XXS */
@media (max-width: 413.98px) {
  .container {
    max-width: 100%;
  }
  .d-block_xxs {
    display: block2;
  }
  .d-inline_xxs {
    display: inline;
  }
  .d-none_xxs {
    display: none;
  }
}
/* IE */
/* VIII. IE >= 10 - media-queries
 * --------------------------------------- */
/*# sourceMappingURL=style.css.map */
