extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.index;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
    main.main
        h2(style="text-align: center; font-weight: 300;") Place here your content
        button.btn.btn_primary BUTTON
                   

            











    |
    |
    



