extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.index;


//- block head
//-     h2 Wow, Block Head is undefined!


block header
    h2 Wow, Block Header is undefined!


block main 
    main
        //  Section-hero ================================================== 
        section.hero.text-content_light
            .container.text-content_light
                .hero__heading
                    h1
                        span.d-block 3D-cтудия 
                            span.text-lg GC 
                        span.d-block для видеосъемки 
                        span.d-block и вебинаров 
            .bg.bg_cover
                picture
                  source(media='(max-width: 575px)', srcset='img/320/xs-images.jpg', type='image/jpg')
                  |
                  |
                  img.lazy(data-src="img/hero-bg.jpg", alt="")
                


        .color 
        .color.color-lighten
        .color.color-darken
    |
        
    



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!