extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.index;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
    h2 Wow, Block Header is undefined!


block main 
    main
        //  Section-hero ================================================== 
        section.hero.text-content_light
            .container.text-content_light
                .hero__heading
                    h1
                        span.d-block.animate__animated.animate__fadeInUp.d-anim-delay-1000 3D-cтудия 
                            span.text-lg GC 
                        span.d-block.animate__animated.animate__fadeInUp.d-anim-delay-1100 для видеосъемки 
                        span.d-block.animate__animated.animate__fadeInUp.d-anim-delay-1200 и вебинаров 

                .hero-text_md
                    p.animate__animated.animate__fadeIn.d-anim-delay-2200 Удивим зрителя
                    p.animate__animated.animate__fadeIn.d-anim-delay-2300 Повысим конверсию

                .hero-text_lg.animate__animated.animate__fadeIn.d-anim-delay-2700
                    p
                        |При заказе от 7 часов 
                        span.badge.badge_primary +1 час в подарок
            .bg.bg_cover
                picture
                  source(media='(max-width: 575.98px)', srcset='img/xs/hero-bgx320.jpg', type='image/jpg')
                  |
                  |
                  img.lazy(data-src="img/hero-bg.jpg", alt="")

        

        
    



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!